@model SakilaMovieInterfaceLab.ViewModels.MovieIndexViewModel

@{
    ViewData["Title"] = "Movies";
}
<nav class="navbar navbar-dark bg-dark">
    <form method="get" class="form-inline my-2 my-lg-0 m-3 p-2 bg-dark text-white"
          asp-action="Index">
        <input class="form-control mr-sm-2" type="text" asp-for="q" placeholder="Search movie...">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<div id="selectedMovie"></div>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">
                <a class="btn btn-link btn-lg active text-warning"
                   asp-action="Index"
                   asp-route-q="@Model.q"
                   asp-route-sortField="Title"
                   asp-route-sortOrder="@(Model.SortField == "Title" ? Model.OpositeSortOrder : "" )">
                    Title
                    @if (Model.SortField == "Title")
                    {
                        if (Model.SortOrder == "asc")
                        {
                            <i class="fas fa-sort-up"></i>
                        }
                        else
                        {
                            <i class="fas fa-sort-down"></i>
                        }
                    }
                </a>
            </th>
            <th scope="col">
                <a class="btn btn-link btn-lg active text-warning"
                   asp-action="Index"
                   asp-route-q="@Model.q"
                   asp-route-sortField="Release Year"
                   asp-route-sortOrder="@(Model.SortField == "Release Year" ? Model.OpositeSortOrder : "" )">
                    Release Year
                    @if (Model.SortField == "Release Year")
                    {
                        if (Model.SortOrder == "asc")
                        {
                            <i class="fas fa-sort-up"></i>
                        }
                        else
                        {
                            <i class="fas fa-sort-down"></i>
                        }
                    }
                </a>
            </th>
            <th scope="col">
                <a class="btn btn-link btn-lg active text-warning"
                   asp-action="Index"
                   asp-route-q="@Model.q"
                   asp-route-sortField="Rental Rate"
                   asp-route-sortOrder="@(Model.SortField == "Rental Rate" ? Model.OpositeSortOrder : "" )">
                    Rental Rate
                    @if (Model.SortField == "Rental Rate")
                    {
                        if (Model.SortOrder == "asc")
                        {
                            <i class="fas fa-sort-up"></i>
                        }
                        else
                        {
                            <i class="fas fa-sort-down"></i>
                        }
                    }
                </a>
            </th>
        </tr>
    </thead>
    @foreach (var i in Model.Films)
    {
        <tbody>
            <tr>
                <td>
                    <a href="#" type="button" onclick="FetchMovie(@i.Id);" class="btn btn-link active text-white" role="button" aria-pressed="true">@i.Title</a>
                </td>
                <td>
                    @i.ReleaseYear
                </td>
                <td>
                    $@i.RentalRate
                </td>
            </tr>
        </tbody>

    }
    <tfoot>
        <tr>
            <td>
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                            <a class="page-link active text-warning"
                               asp-action="Index"
                               asp-route-q="@Model.q"
                               asp-route-page="@(Model.Page -1)"
                               asp-route-sortField="@Model.SortField"
                               asp-route-sortOrder="@Model.SortOrder">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previus</span>
                            </a>
                        </li>
                        @for (var p = 1; p <= @Model.TotalPages; p++)
                        {
                            <li class="page-item @(Model.Page == p ? "active" : "")">
                                <a class="page-link active text-warning"
                                   asp-action="Index"
                                   asp-route-q="@Model.q"
                                   asp-route-sortField="@Model.SortField"
                                   asp-route-sortOrder="@Model.SortOrder"
                                   asp-route-page="@p">@p</a>
                            </li>
                        }

                        <li class="page-item @(Model.Page == Model.TotalPages ? "disabled" : "")">
                            <a class="page-link active text-warning"
                               asp-action="Index"
                               asp-route-q="@Model.q"
                               asp-route-sortField="@Model.SortField"
                               asp-route-sortOrder="@Model.SortOrder"
                               asp-route-page="@(Model.Page +1)">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </td>
        </tr>
    </tfoot>
</table>

@section Scripts
{
    <script>
        function FetchMovie(id) {
            $.ajax({
                url: "/Movie/_selectedmovie/" + id,
                success: function (result) {
                    $('#selectedMovie').html(result);
                }
            });
        }
    </script>
}